body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}

#progress-bar {
    height: 30px;
    width: 80%;
    background: lightgrey;
}

#progress-status {
    height: 100%;
    width: 0;
    background: blue;
}

.queue-count-container {
    margin: 1rem auto;
}

#load-button {
    width: 10rem;
    height: 2rem;
    border: 1px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #27687c;
    color: white;
    font-weight: 600;
    cursor: pointer;
}