body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}

.score-container {
    display: flex;
    width: 20rem;
    justify-content: space-between;
}

#blocks-container {
    display: flex;
    height: 100px;
    border: 1px solid;
    background: lightgray;
    width: 20rem;
    display: flex;
}

.block {
    flex: 1;
    border: 1px solid;
    cursor: pointer;
}

.blink {
    background: blue;
}

.click {
    background: green;
}

.game-over {
    animation: shake 0.3s;
}

@keyframes shake {
    25% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0%);
    }
}

section {
    margin-bottom: 1rem;
}

label {
    font-weight: 600;
    margin: 1rem;
}

ul {
    margin: 0.5rem;
}

#start-button {
    width: 10rem;
    height: 2rem;
    border: 1px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #27687c;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#start-button:disabled {
    background: lightgray;
    cursor: auto;
}

@media (min-width: 600px) {
    .score-container,
    #blocks-container {
        width: 30rem;
    }
}